<div class="main-container">
  <div class="cart-container">
    <div class="cart-panel">
      <!-- Cart items -->
      <div *ngFor="let item of cartItems" class="cart-item">
        <img [src]="item.product.url" alt="Product image">
        <div class="cart-item-details">
          <h3>{{ item.product.name }}</h3>
          <p>{{ item.product.price | currency }}</p>
          <div class="form-margin">
            <label for="quantity">Amount: </label>
            <input class="number-input" type="number" id="quantity" name="quantity" [(ngModel)]="item.quantity" min="1" max="99" (change)="selectChange(item.product.id, $event, item.quantity)">
          </div>
          <button (click)="removeFromCart(item.product.id)">Remove from cart</button>
        </div>
      </div>
      <p>Total: {{ totalPrice | currency }}</p>
    </div>
        <div *ngIf="cartItems.length > 0" class="cart-summary">
          <form (ngSubmit)="submitOrder()" #orderForm="ngForm">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" minlength="3" [(ngModel)]="name" required #nameField="ngModel">
              <div *ngIf="nameField.invalid && nameField.touched" class="error">
                Name must be at least 3 characters long.
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address:</label>
              <input type="text" id="address" name="address" minlength="6" [(ngModel)]="address" required #addressField="ngModel">
              <div *ngIf="addressField.invalid && addressField.touched" class="error">
                Address must be at least 6 characters long.
              </div>
            </div>
            <div class="form-group">
              <label for="ccnum">Credit Card Number:</label>
              <input type="text" pattern="[0-9]{16}" id="ccnum" name="ccnum" [(ngModel)]="ccnum" required #ccnumField="ngModel">
              <div *ngIf="ccnumField.invalid && ccnumField.touched" class="error">
                Credit Card Number must be exactly 16 digits.
              </div>
            </div>
            <button class="submit-button" type="submit" [disabled]="!orderForm.form.valid">Submit Order</button>
          </form>
        </div>
      </div>
      <div *ngIf="cartItems.length === 0" class="empty-cart-message">
        <h3>Your cart is empty!</h3>
      </div>
    </div>
    
