img {
    border-radius: 10px;
    width: 320px;
  }
  
  .select-input {
    width: 108px; 
    margin-bottom: 8px;
  }
  
  .detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }

  .add-to-cart-button {
    margin-top: 8px;
  }
  
  .detail-item {
    margin-left: 128px;
    margin-right: 128px;
  }
  
  .back-link {
    margin-top: 8px;
  }

  .back-link {
    text-decoration: none; 
    color: inherit; 
  }
  
  .product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 80%; /* Adjust this value to control the width of the content area */
    margin: auto;
  }
  
  .products-details img {
    margin-right: 50px; 
    margin-top: 35px;
  }
  
  .products-info {
    text-align: left;
    margin-top: 130px;
  }
  
 
  .product-details-container a {
    text-align: center;
    display: block;
    margin-top: 20px; 
  }
  
  button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .product-link {
    text-decoration: none;
    color: inherit;
  }
  
  .product-details-image {
    max-width: 50%; /* Adjust the size as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  